@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,500;8..144,600;8..144,700;8..144,800&family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pBlue-100: #E5F1FF;
  --pBlue-300: #377DFF;
  --pGreen-100: #EAFAF3;
  --pGreen-300: #2DCA8C;
  --pYellow-100: #FFF2D8;
  --pYellow-300: #FFBE3D;
  --pRed-100: #FFE3DE;
  --pRed-300: #FF715B;
  --pBlack-100: #AAB0B7;
  --pBlack-300: #58616A;
  --pBlack-600: #2b3d4e;
  --pBlack-700: #243443;
  --pGray-100: #FCFCFC;
  --pGray-200: #F7F7F9;
  --pGray-300: #F0F0F0;
}

* {
  font-family: 'Roboto', 'Inter', Arial;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus {
  outline: transparent;
  box-shadow: none;
}


html, body {
  min-width: 100vw;
}

#root {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
}
