@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600;700&family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
}

* {
  font-family: 'Roboto', Arial;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus {
  outline: transparent;
  box-shadow: none;
}


html, body {
  min-width: 100vw;
}

#root {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
}
