@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --Yellow-100: #f1e9c9;
    --Yellow-500: #dbac2c;
    --Yellow-800: #c47f17;
    --Purple-100: #ebe5f9;
    --Purple-200: #e6def8;
    --Purple-500: #8047f8;
    --Purple-800: #4b2995;
    --Gray-100: #fafafa;
    --Gray-200: #f3f2f2;
    --Gray-300: #ededed;
    --Gray-500: #e6e5e5;
    --Gray-800: #d7d7d5;
    --Black-100: #8d8686;
    --Black-300: #574f4d;
    --Black-500: #403937;
    --Black-800: #272221;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}

:focus {
    outline: transparent;
    box-shadow: none;
}

body {
    background-color: var(--Gray-100);
    min-height: 100%;
    color: var(--Black-500);
}

#root {
    max-width: 74rem;
    margin: 0 auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

.baloo {
    font-family: 'Baloo 2', cursive !important;
}